<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">

        <h1>Welcome to Manik GPT</h1>
        <div class="user-info">
            <p>First Name: {{ first_name }}</p>
            <p>Date: {{ current_date }}</p>
        </div>
        <div class="logout-container">
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
