<!DOCTYPE html>
<html>
<head>
    <title>Manik's GPT Chatbot</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="/static/css/prism.css" rel="stylesheet" />
    <script src="/static/js/prism.js"></script>
</head>
<body>
    <h1>Manik-ChatGPT</h1>
    <div class="chatbox">
        <!-- Chat content will be dynamically added here -->
    </div>
    <div class="input-group">
        <input id="userInput" type="text" placeholder="Type a message..." onkeydown="if (event.key == 'Enter') document.getElementById('submitBtn').click()">
        <button id="submitBtn">Send</button>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
