<!DOCTYPE html>
<html>
  <head>
    <title>Manik-ChatGPT</title>
    <link rel="stylesheet" href="static/css/prism.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <h1>Manik-ChatGPT</h1>
    <div class="chatbox" id="chatbox">
      <!-- Chat messages will be added here -->
    </div>
    <div class="input-group">
      <input type="text" id="userInput" placeholder="Type your message...">
      <button id="submitBtn">Send</button>
    </div>
    <footer>
        <p>&copy; All rights reserved @ Manik Cloud Pvt Ltd</p>
    </footer>
    
    <script src="static/js/prism.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
